<h2 class="text-center"><%= domain.host %></h2>
<% if urlscan %>
  <ul class="list-inline text-center">
    <li class="list-inline-item mx-2">
      <a href="<%= urlscan["result"] %>">urlscan.io results</a>
    </li>      
    <li class="list-inline-item mx-2">
      <a href="https://urlscan.io/screenshots/<%= urlscan["uuid"] %>.png">Screenshot</a>
    </li>
  </ul>
<% end %>

<div class="row row-cols-2">
  <div class="col">
    <h3>Domain</h3>
    <table class="table table-striped">
      <% domain.to_h.reject { |k,v| v.is_a?(Hash) }.each do |key, value| %>
        <%= format_key_value(key, value) %>
      <% end %>
    </table>
  </div>

  <div class="col">
    <h3>Canonical Endpoint</h3>
    <table class="table table-striped">
      <% endpoint.to_h.reject { |k,v| v.is_a?(Hash) }.each do |key, value| %>
        <%= format_key_value(key, value) %>
      <% end %>
    </table>
  </div>

  <% SiteInspector::Endpoint.checks.each_with_index do |check, index| %>
    <% result = endpoint.send(check.name).to_h %>
    <% next if result == {} %>
    <div class="col pt-4">
      <h3><%= format_key(check.name) %></h3>
      <table class="table table-striped">
        <% if result %> 
          <% result.each do |key,value| %>
            <%= format_key_value(key, value) %>
          <% end %>
        <% end %>
      </table>
    </div>
  <% end %>
</div>

<div class="text-center lead">
  <a href="/">Check another domain?</a>
</div>
