<h2><%= domain.host %></h2>
<% if urlscan %>
  <p>
    <a href="<%= urlscan["result"] %>">urlscan.io results</a> | 
    <a href="https://urlscan.io/screenshots/<%= urlscan["uuid"] %>.png">Screenshot</a>
  </p>
<% end %>

<div class="row">
  <div class="col-md-6">
    <h3>Domain</h3>
    <table class="table table-striped">
      <% domain.to_h.reject { |k,v| v.is_a?(Hash) }.each do |key, value| %>
        <%= format_key_value(key, value) %>
      <% end %>
    </table>
  </div>

  <div class="col-md-6">
    <h3>Canonical Endpoint</h3>
    <table class="table table-striped">
      <table class="table table-striped">
        <% endpoint.to_h.reject { |k,v| v.is_a?(Hash) }.each do |key, value| %>
          <%= format_key_value(key, value) %>
        <% end %>
      </table>
    </table>
  </div>
</div>

<div class="row">
    <% SiteInspector::Endpoint.checks.each_with_index do |check, index| %>
    <div class="col-md-6">
      <h3><%= format_key(check.name) %></h3>
      <table class="table table-striped">
        <% result = endpoint.send(check.name).to_h %>
        <% if result %> 
          <% result.each do |key,value| %>
           <%= format_key_value(key, value) %>
          <% end %>
        <% end %>
      </table>
      <% if (index + 1) % 2 == 0 %>
        </div>
        <div class="row">
      <% end %>
    </div>
    <% end %>
</div>

<div class="have_another">
  <a href="/">Check another domain?</a>
</div>
